/*body
{
    background-image: url("../image/tlou_window.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}*/
/*
.connexion_start
{
    position: absolute;
    margin-left: 50px;
    margin-top: -500px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    color: black;
}*/